<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Hatırlat</title>
  </head>
  <body>
    <!--wrapper-->
    <div class="wrapper">
      <!--start header wrapper-->	
      <div class="header-wrapper">
        <!--start header -->
        <header>
          <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand">
              <h4 class="logo-text">Hatırlat</h4>
            </nav>
          </div>
        </header>
        <!--end header -->
      </div>
         <!--end header wrapper-->
      <!--start page wrapper -->
      <div class="page-wrapper">
        <div class="page-content">

          <noscript>
            <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
          </noscript>
          <div id="app"></div>
          <!-- built files will be auto injected -->

        </div>
      </div>
      <!--end page wrapper -->
      <!--start overlay-->
      <div class="overlay toggle-icon"></div>
      <!--end overlay-->
      <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
      <!--End Back To Top Button-->
      <footer class="page-footer">
        <p class="mb-0">Copyright © 2021 - Mustafa Şahin</p>
      </footer>
    </div>
    <!--end wrapper-->

  </body>
</html>
