<template>
  <div class="row">
      <div class="col">
        <div class="card border-top border-0 border-4 border-primary">
          <div class="card-body">
            <div class="card-title d-flex align-items-center">
              <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
              </div>
              <h5 class="mb-0 text-primary">Yeni Ekle</h5>
            </div>
            <hr>
            <div class="row g-3">
              <div class="col-12">
                <label for="inputFirstName" class="form-label">İsim Soyisim</label>
                <input type="text" class="form-control" v-model="name" placeholder="Cenaze sahibi isim..">
              </div>
              


              <div class="col-12">
                <label for="inputLastName" class="form-label">Yakınlık Derecesi</label>
                <input type="text" class="form-control" v-model="relation" placeholder="Yakınlık Derecesi">
              </div>


              <div class="col-12">
                <label for="inputFirstName" class="form-label">Merhum/Merhume - İsim Soyisim</label>
                <input type="text" class="form-control" v-model="vefat_name" placeholder="Vefat isim..">
              </div>
              
              <div class="col-4">
                <label for="inputCity" class="form-label">Gün</label>
                <input type="number" class="form-control" v-model="day" placeholder="Gün">
              </div>
              <div class="col-4">
                <label for="inputCity" class="form-label">Ay</label>
                <input type="number" class="form-control" v-model="month" placeholder="Ay">
              </div>
              <div class="col-4">
                <label for="inputCity" class="form-label">Yıl</label>
                <input type="number" class="form-control" v-model="year" placeholder="Yıl">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Not</label>
                <textarea class="form-control" v-model="notes" placeholder="Not..." rows="3"></textarea>
              </div>
              
              <!-- <div class="col-md-3">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div> -->
              <div class="col-12">
                <button @click="addUser" class="btn btn-primary" style="width: 100%;" :disabled="loading">
                  <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span v-if="!loading">Kayıt</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
</template>
<script>
//import { collection, addDoc } from "firebase/firestore"
import { db } from '../firebase.js'
import { collection, getDocs, query, addDoc, doc, setDoc, updateDoc, getDoc } from "firebase/firestore"

export default {
  name: 'AddUser',
  created() {
    
  },
  data() {
    return {
      loading: false,
      name: '',
      relation: '',
      vefat_name: '',
      day: '',
      month: '',
      year: '',
      notes: ''
    }
  },
  methods: {
    addUser() {
      if(this.name == '' || this.day == '' || this.month == '') {
        return;
      }
      
      this.loading = true

      const data = {
        full_name: this.name,
        relation: this.relation,
        vefat_name: this.vefat_name,
        day: this.day,
        month: this.month,
        year: this.year,
        note: this.notes,
      }

      // const createDoc = doc(db, 'users/2021-12-14')
      /* setDoc(createDoc, data, {merge: true})
      .then(() => {
        console.log('okey');
      })
      .catch(error => {
        console.log(error);
      }) */
      // updateDoc(createDoc, data)
      // getDoc

      const colRef = collection(db, 'users')
      addDoc(colRef, data)
      .then(() => {
        console.log('okey');
        this.loading = false
        this.$router.push('/')
      })
      .catch(error => {
        console.log(error);
        this.loading = false
      })
    },

    async getNewData(){
      const createDoc = doc(db, 'users/2021-12-14')
      const mySnapshot = await getDoc(createDoc)
      if (mySnapshot.exists()) {
        const docData = mySnapshot.data();
        console.log(`${JSON.stringify(docData)}`);
      }
    }
  }
}
</script>
