<template>
  <div>
    <div class="col">
						<h6 class="mt-2 mb-0 text-uppercase">VEFATLAR</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<ul class="list-group" v-if="users.length > 0">
									<li v-for="user in users" :key="user.id" :data-id="user.id" class="list-group-item d-flex justify-content-between">
                    <div class="text">
                      {{user.full_name}} - 
                      {{user.relation}}  
                      [ {{ user.day }} {{ convertMonth(user.month) }} {{ user.year }} ]
                    </div>
                    <button @click="deleteUser(user.id)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="spinner-border spinner-border-sm" role="status" style="display: none;"> <span class="visually-hidden">Loading...</span></div>
                  </li>
								</ul>
                <span v-else> 
                  <div v-if="loading" class="spinner-border spinner-border-sm" role="status"> <span class="visually-hidden">Loading...</span></div>
                  {{ loadingMessage }}
                </span>
							</div>
						</div>
					</div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { db } from '../firebase.js'
import { doc, deleteDoc, collection, getDocs, onSnapshot, query, where } from "firebase/firestore"
// import { getMessaging, getToken } from "firebase/messaging";

export default {
  name: 'Home',
  components: {
    
  },
  created() {
    this.getUsers()
    this.pushNoty()

    /* const messaging = getMessaging();
    getToken(messaging, { vapidKey: 'BOrzV5Bl5YRliXgTAGgTjjs9Fv1uTfs_8xypZztMx2J4ACgd1e8ogAjSHefL6zdbEuBvveCG9iAgInwTyWqBOyc' }).then((currentToken) => {
      
    }).catch((err) => {
      console.log('An error occurred while retrieving token. ', err);
    }); */
  },
  data() {
    return {
      users: [],
      loading: false,
      loadingMessage: ''
    }
  },
  methods: {
    getUsers() {
      this.loading = true
      this.loadingMessage = 'Yükleniyor..'

      let u = []
      const colRef = collection(db, 'users')
      getDocs(colRef).then((snapshot) => {
        snapshot.docs.forEach(doc => {
          u.push({ ...doc.data(), id: doc.id })
        });

        this.users = u

        if (this.users.length === 0) {
          this.loadingMessage = 'Kayıtlı veri bulunamadı..'
        }

        this.loading = false
      })
      .catch(error => {
        console.log(error);
        this.loadingMessage = 'Bir hata meydana geldi..'
        this.loading = false
      })

      /* For RealTime */
      /*onSnapshot(colRef, (snapshot) => {
        snapshot.docs.forEach(doc => {
          u.push({ ...doc.data(), id: doc.id })
        });
      })*/
    },
    deleteUser(id){
      const closeElement = document.querySelector(`[data-id=${id}] .btn-close`).style.display = "none";
      const spinElement = document.querySelector(`[data-id=${id}] .spinner-border`).style.display = "block";

      const docRef = doc(db, 'users', id)
      deleteDoc(docRef)
      .then(() => {
        this.getUsers()
        console.log('deleted');
      })
    },
    pushNoty(){
      const colRef = collection(db, 'users')

      let today = new Date();

      let day = today.getDate()
      let month = today.getMonth() + 1
      const q = query(colRef, where("day", "==", day), where("month", "==", month))
      
      const filtered = []
      onSnapshot(q, (snapshot) => {
        snapshot.docs.forEach(doc => {
          filtered.push({ ...doc.data(), id: doc.id })
        });

        console.log(filtered);

        if(filtered.length > 0) {
          filtered.forEach(item => {
            this.sendMail(item.full_name, item.relation, item.vefat_name, item.note, item.day, item.month, item.year)
          })
        }
      })
      
    },
    sendMail(name, relation, vefat, not, day, month, year) {
      var data_js = {
          "access_token": "i16m6gfwijop4s79k4u6cqyi"
      };

      /*function js_onSuccess() {
          // remove this to avoid redirect
          window.location = window.location.pathname + "?message=Email+Successfully+Sent%21&isError=0";
      }

      function js_onError(error) {
          // remove this to avoid redirect
          window.location = window.location.pathname + "?message=Email+could+not+be+sent.&isError=1";
      }*/

      function js_send() {
          var request = new XMLHttpRequest();
          request.onreadystatechange = function() {
              if (request.readyState == 4 && request.status == 200) {
                  //js_onSuccess();
              } else
              if(request.readyState == 4) {
                  //js_onError(request.response);
              }
          };

          /* veri */
          data_js['subject'] = 'HATIRLAT';
          data_js['text'] = `Vefat Eden: ${name} 'in ${relation} - ${vefat} - ${day}.${month}.${year}`;
          if(not) {
            data_js['text']+=` [${not}]`
          }
          var params = toParams(data_js);

          request.open("POST", "https://postmail.invotes.com/send", true);
          request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

          request.send(params);

          return false;
      }
      js_send()

      function toParams(data_js) {
        var form_data = [];
        for ( var key in data_js ) {
            form_data.push(encodeURIComponent(key) + "=" + encodeURIComponent(data_js[key]));
        }

        return form_data.join("&");
      }
    },
    convertMonth(month){
      if(!Number.isInteger(month)) {
        return month;
      }

      let months = [
        'Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'
      ];

      if(month || month > 0) {
        return months[month-1]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .text {
    cursor: pointer; 
  }
</style>