<template>
  <div id="nav">
        <div class="nav-container">
          <nav class="topbar-nav">
            <ul class="metismenu" id="menu">
              <li>
                <router-link tag="a" class="has-arrow" to="/">   
                  <div class="parent-icon"><i class='bx bx-home-circle'></i></div>
                  <div class="menu-title">Vefatlar</div>
                </router-link>
              </li>
              <li>
                <router-link tag="a" class="has-arrow" to="/add">
                  <div class="parent-icon"><i class='bx bx-message-square-edit'></i></div>
                  <div class="menu-title">Yeni Ekle</div>
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
  </div>
  
  <router-view/>
</template>

<style lang="scss">

//@import './template/assets/plugins/simplebar/css/simplebar.css';
//@import './template/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css';
//@import './template/assets/plugins/metismenu/css/metisMenu.min.css';
@import './template/assets/css/bootstrap.min.css';
@import './template/assets/css/bootstrap-extended.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './template/assets/css/app.css';
@import './template/assets/css/icons.css';



#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
